[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nathan-Wall
[access "refs/for/refs/*"]
	read = group user/Nathan-Wall
	push = group user/Nathan-Wall
	label-Code-Review = -2..+2 group user/Nathan-Wall
	label-Verified = -1..+1 group user/Nathan-Wall
	rebase = group user/Nathan-Wall
	removeReviewer = group user/Nathan-Wall
	submit = group user/Nathan-Wall
[access "refs/heads/*"]
	read = group user/Nathan-Wall
	create = group user/Nathan-Wall
	push = +force group user/Nathan-Wall
	pushMerge = group user/Nathan-Wall
[access "refs/tags/*"]
	push = +force group user/Nathan-Wall
	pushTag = group user/Nathan-Wall
	pushSignedTag = group user/Nathan-Wall
